<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/tableExport.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF/jspdf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tableexport.jquery.plugin@1.10.21/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/print/bootstrap-table-print.min.js"></script>
<!--<style>-->
<!--  #toolbar {-->
<!--    margin: 0;-->
<!--  }-->
<!--</style>-->

<!--<div id="toolbar" class="select">-->
<!--  <select class="form-control">-->
<!--    <option value="">Export Basic</option>-->
<!--    <option value="all">Export All</option>-->
<!--    <option value="selected">Export Selected</option>-->
<!--  </select>-->
<!--</div>-->
<div>
  <mat-form-field>
    <input matInput type="search" [(ngModel)]="imePredmeta" (keyup)="loadPageByNameSubject()" />
    <mat-icon matPrefix>search</mat-icon>
    <button *ngIf="imePredmeta" matSuffix mat-icon-button aria-label="Clear" (click)="imePredmetaNull()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="d-flex justify-content-end">
    <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-subjects" (click)="add()">
      <fa-icon icon="plus"></fa-icon>
      <span jhiTranslate="jhipsterApp.subjects.home.createLabel"> Create a new Subjects </span>
    </button>
  </div>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="subjects?.length === 0">
    <span jhiTranslate="jhipsterApp.subjects.home.notFound">No subjects found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="subjects && subjects.length > 0">
    <table id="table" class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="subjectName">
            <span jhiTranslate="jhipsterApp.subjects.subjectName">Subject Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numberSemestars">
            <span jhiTranslate="jhipsterApp.subjects.numberSemestars">Number Semestars</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subjects of subjects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/subjects', subjects.id, 'view']">{{ subjects.id }}</a>
          </td>
          <td>{{ subjects.subjectName }}</td>
          <td>{{ subjects.numberSemestars }}</td>

          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                class="btn btn-primary btn-sm"
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                id="edit"
                (click)="edit(subjects.id, subjects.subjectName, subjects.numberSemestars)"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(subjects)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>Sum</td>
          <td>{{ ukupno }}</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <div *ngIf="subjects && subjects.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
  <script>
    var $table = $('#table');

    $(function () {
      $table.bootstrapTable();
    });
  </script>

  <!--<script>-->
  <!--  var $table = $('#table')-->

  <!--  $(function() {-->
  <!--    $('#toolbar').find('select').change(function () {-->
  <!--      $table.bootstrapTable('destroy').bootstrapTable({-->
  <!--        exportDataType: $(this).val(),-->
  <!--        exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],-->
  <!--        columns: [-->
  <!--          {-->
  <!--            field: 'state',-->
  <!--            checkbox: true,-->
  <!--            visible: $(this).val() === 'selected'-->
  <!--          },-->
  <!--          {-->
  <!--            field: 'id',-->
  <!--            title: 'ID'-->
  <!--          }, {-->
  <!--            field: 'name',-->
  <!--            title: 'Item Name'-->
  <!--          }, {-->
  <!--            field: 'price',-->
  <!--            title: 'Item Price'-->
  <!--          }-->
  <!--        ]-->
  <!--      })-->
  <!--    }).trigger('change')-->
  <!--  })-->
  <!--</script>-->
</div>
