<div>
  <h2 id="page-heading" data-cy="StudentHeading">
    <span jhiTranslate="jhipsterApp.student.home.title">Students</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterApp.student.home.refreshListLabel">Refresh List</span>
      </button>
      <input type="text" class="form-control" [(ngModel)]="ime" />
      <button class="btn btn-info" (click)="loadAllRxj()">nadji</button>
      <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-student" (click)="add()">
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterApp.student.home.createLabel"> Create a new Student </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="table-responsive" id="entities" *ngIf="students && students.length > 0">
    <table mat-table [dataSource]="dataSource" matSort matSortStart="desc">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="">Ime</th>
        <td mat-cell *matCellDef="let element">
          {{ element.name }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Godine</th>
        <td mat-cell *matCellDef="let element">{{ element.age }}</td>
        <td mat-footer-cell *matFooterCellDef>{{ ukupno | number }}</td>
      </ng-container>
      <ng-container matColumnDef="edit" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button
            type="submit"
            (click)="edit(element.id, element.name, element.age)"
            class="btn btn-info btn-sm"
            data-cy="entityDeleteButton"
          >
            <fa-icon icon="pencil-alt"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <ng-container matColumnDef="delete" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row; let i = index">
          <button type="submit" (click)="delete(row)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
            <fa-icon icon="times"></fa-icon>
            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns" [ngClass]="element.age >= 10 ? 'red' : 'black'">
        <!--        [ngStyle]="{ 'background-color': element.name === 'ana' ? 'red' : 'green' }"-->
        >
      </tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>
    <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
